{% extends 'base/base.html' %}


{% block title %}
    <title id="head-title">Formalign.eu Home</title>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form class="form-horizontal" role="form" method="post" action="/">
        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form.seq_type.label_tag }}
            </div>
            <div class="col-sm-9">
                {{ form.seq_type.errors }}
                {{ form.seq_type }}
            </div>
            <div class="col-sm-2 control-label">
                {{ form.align_input.label_tag }}
            </div>
            <div class="col-sm-9">
                {{ form.align_input.errors }}
                {{ form.align_input }}
            </div>
            {% csrf_token %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" id="submit-align" class="btn btn-primary btn-large">
                    Submit
                </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}