{% extends 'base/base.html' %}

{% block title %}
        <title id="head-title">Formalign.eu Sequence Display</title>
{% endblock %}

{% block content %}
    <div class="well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 bg-color-primary-1">
        <form class="form-horizontal" role="form" method="get" action="/align-display/{{ align_id }}/">
        <div class="form-group" id="render_button">
            <div class="col-md-10 col-sm-10">
                <h2 class="query_seq_type color-complement-4">{{ seq_type }} sequences:</h2>
            </div>
            <div class="col-md-2 col-sm-2">
                <button type="submit" id="render-align" class="btn btn-primary btn-large">
                    Render
                </button>
            </div>
        </div>
        </form>
    </div>
    {% for q in query_seqs %}
        <div class="query_seq_block well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 bg-color-primary-1">
        <h3 class="query_seq_meta bg-color-body">{{ q.meta }}:</h3>
            <div class="query_seq bg-color-body">

                {% for qs in q.seq %}
                    <p class="query_seq_display">{{ qs }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        <div class="query_seq_block well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 bg-color-primary-1">
            <h3 class="query_seq_meta bg-color-body">{{ consensus.meta }}:</h3>
            <div class="query_seq bg-color-body">
                {% for cs in consensus.seq %}
                    <p class="query_seq_display consensus_seq_display">{{ cs }}</p>
                {% endfor %}
            </div>
        </div>
{% endblock %}
