{% extends 'base/base.html' %}

{% block title %}
        <title id="head-title">Formalign.eu Sequence Display</title>
{% endblock %}

{% block content %}
    <div class="well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
        <h2 class="query_seq_type">{{ seq_type }} sequences:</h2>
    </div>
    <ol>
    {% for q in query_seqs %}
        <div class="query_seq_block well col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
            <li class="query_seq_meta">{{ q.meta }}:</li>
            <div class="query_seq">
                {% for qs in q.seq %}
                    <p class="query_seq_display">{{ qs }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </ol>
{% endblock %}
