.color-primary-0 { color: #28774F }	/* Main Primary color */
.color-primary-1 { color: #77B395 }
.color-primary-2 { color: #4B956F }
.color-primary-3 { color: #0F5934 }
.color-primary-4 { color: #003C1D }

.color-complement-0 { color: #AA5439 }	/* Main Complement color */
.color-complement-1 { color: #FFBEAA }
.color-complement-2 { color: #D4846A }
.color-complement-3 { color: #802F15 }
.color-complement-4 { color: #551400 }

.bg-color-primary-0 { background-color: #28774F }
.bg-color-primary-1 { background-color: #77B395 }
.bg-color-primary-3 { background-color: #0F5934 }
.bg-color-complement-2 { background-color: #D4846A }

body {
    margin-top: 70px;
    line-height: 1.4;
}

h2 {
    font-size: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

#warning {
    padding-top: 2em;
    padding-bottom: 2em;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
.bg-color-body {
    background-color: #E4E4E4;
}

.navbar {
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 1px 1px 5px #4f4f4f;
    border-style: none;
    background-color: rgba(15,89,52,0.9);
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: #D4846A;  /* color-complement-0 */
}

.navbar-default .navbar-brand:hover {
    color: #77B395;  /* color-primary-1 */
}

.navbar-default .navbar-nav li a {
    color: #D4846A;  /* color-complement-0 */
}

.navbar-default .navbar-nav li a:hover {
    color: #77B395;  /* color-primary-1 */
}

.navbar-default .navbar-nav .active a {
    color: #D4846A;
    background-color: #003C1D;  /* color-primary-4 */

}

.navbar-default .navbar-nav .active a:hover {
    color: #003C1D;  /* color-primary-2 */
    background-color: #4B956F;
}

.dropdown {
    margin-right: 15px;
}
input {
    vertical-align: -15%;
}

.form-horizontal .control-label {
    padding-top: 0;
    vertical-align: middle;
}

#id_align_input {
    background-color: #e4e4e4;
    border: 2px solid #802F15;
}

.btn-primary {
    font-weight: bold;
    color: #77B395;
    background-color: #551400;
    border-color: #003C1D;
    box-shadow: 0px 2px 5px -1px #4f4f4f;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:hover:active,
.btn-primary:focus:hover,
.btn-primary:focus:hover:active {
    font-weight: bold;
    color: #802F15;
    background-color: #28774F;
    border-color: #802F15;
}

#render-align {
}
#id_seq_type {
    list-style-type: none;
}

#id_seq_type {
    margin-bottom: 40px;
    margin-left: -20px;
}
#id_seq_type li {
    display: inline;
    /*margin-bottom: 40px;*/
    /*margin-left: -20px;*/
}

#id_seq_type_1 {
    margin-left: 25px;
}

.errors ul li {
    list-style-type: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #77B395;
}

.errors{
    background-color: #802F15;
}

pre {
    border: none;
}

.jumbotron {
    border-radius: 10px;
    box-shadow: 1px 1px 5px #4f4f4f;
}
.well {
    /*border: 1px solid #802F15;*/
    border-radius: 10px;
    box-shadow: 1px 1px 5px #4f4f4f;
    border-style: none;
}
.query_seq {
    overflow: auto;
    height: 8em;
    border: 1px solid #802F15;
    border-radius: 4px;
    padding-top: 0.5ch;
}

.query_seq_display {
    font-size: 12px;
    width: 80ch;
    white-space: nowrap;
    font-family: monospace;
    margin-left: 1ch;
    color: #0f0f0f;
}

.query_seq_meta {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1ch;
    margin-top: 0;
    margin-bottom: 3px;
    border: 1px solid #802F15;
    border-radius: 4px;
}

.query_seq_type {
    font-size: 24px;
}

li.no_style {
    list-style-type: none;
}

#render-align {
    margin-top: 15px;
}

.align_display {
    overflow-x: auto;
    border: solid 2px #9d9d9d;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.align_table {
    border-spacing: 0;
    border-collapse: collapse;
}

.al_ln {
    font-size: 10px;
    font-family: monospace;
}

.consensus {
    margin-top: 0.5em;
}
.residue {
    width: 0.8em;
    text-align: center;
}

.block_sep {
    width: 0.8em;
}

.sep {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.horizontal-sep{
    height: 1.5em;
}

.ln_sep {
    height: 0.2em;
}

.S0 {
    color: #0f0f0f;
    background-color: #ffffff;
}

.S1 {
    font-weight: bold;
    color: #ffffff;
    background-color: #3c3c3c;
}
