.row {
    margin-right: 0;
    margin-left: 0;
}

.query_seq {
    overflow-x: auto;
}

.query_seq_display {
    width: 80ch;
    white-space: nowrap;
    font-family: monospace;
}

.query_seq_meta {
    margin-bottom: 15px;
}

.query_seq_type {
    font-size: 24px;
}

li.no_style {
    list-style-type: none;
}

#render-align {
    margin-top: 15px;
}

.align_display {
    overflow-x: auto;
    border: solid 2px #9d9d9d;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.al_ln {
    width: 118em;
    font-size: 10px;
    font-family: monospace;
    line-height: 1;
}

.consensus {
    margin-top: 0.5em;
}
.al_el {
    display: inline-block;
    margin-right: -0.4em;
    padding: 0.2em;
}

.sep {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.horizontal-sep{
    height: 1.5em;
}

.ln_sep {
    height: 0.2em;
}

.S0 {
    color: #000000;
    background-color: #ffffff;
}

.S1 {
    color: #ffffff;
    background-color: #3c3c3c;
}

.seq_id {
    width: 8em;
}