{% extends 'base/base.html' %}


{% block title %}
    <title id="head-title">Formalign.eu Home</title>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-color-primary-1 color-complement-4">
        <form class="form-horizontal" role="form" method="post" action="/">
        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form.seq_type.label_tag() }}
            </div>
            <div class="col-sm-9">
                {{ form.seq_type.errors }}
                {{ form.seq_type }}
            </div>
            <div class="col-sm-2 control-label">
                {{ form.cons_type.label_tag() }}
            </div>
            <div class="col-sm-9">
                {{ form.cons_type.errors }}
                {{ form.cons_type }}
            </div>
            <div class="col-sm-2 control-label">
                {{ form.align_input.label_tag() }}
            </div>
            <div class="col-sm-9">
                {{ form.align_input }}
                <div class="errors">
                    {% if form.align_input.errors %}
                        <pre class="errors">{{ form.align_input.errors }}</pre>
                    {% endif %}
                </div>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit-align" class="btn btn-primary btn-large" name="custom_data" value="custom">
                    Submit
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <label for="submit-demo">Or try out using a demo alignment:<br>(Serine/Threonine kinase family)</label>
            </div>
            <div class="col-sm-10">
                <button type="submit" id="submit-demo" class="btn btn-primary btn-large" name="custom_data" value="demo">
                    Demo
                </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}